body {
    background-color: black;
}
header > * {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: black;
}
header .navbar .navbar-toggler {
    border-color: #bdb76b;
}


.main {
    background-image: url(https://cdn.pixabay.com/photo/2017/03/27/21/04/wine-2180278_960_720.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}
.main .cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main h1 {
    color: #bdb76b;
    font-size: 60px;
    font-family: 'Courgette', cursive;
    margin-left: 40%;
    margin-top: 15%;
}

.viñedos-seccion {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 40px;
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.viñedos-seccion .viñedos-card {
    background-color: #dcdcdc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 500px;
}
.viñedos-seccion .viñedos-card .viñedos-image img {
    width: 400px;
    height: 250px;
}
.viñedos-content h3 {
    font-family: 'Courgette', cursive;
    font-size: 25px;
    text-align: center;
}
.viñedos-content p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 16px;
    padding-left: 8px;
}
.maridajes-container {
    margin: 0 10% 10% 10%;
}

.maridajes-container .cartel .letrero h2 {
    font-family: 'Courgette', cursive;
    color: #bdb76b;
    font-size: 60px;
    text-align: center;
    padding: 180px 0 0 70px;
}
.maridajes-container .images-maridajes .carousel .carousel-item img {
    width: 100%;
}
.card {
    background-color: #bdb76b;
    border-radius: 8px;
    margin-right: 10px;
    padding: 10px;
}
.card video {
    width: 100%;
}
.card-body h4 {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    text-align: left;
}
.card-body p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
.list-group .list-group-item {
    font-family: 'Poppins', sans-serif;
    border: none;
    border: none;
    background-color: #dcdcdc;
}
.card button {
    margin-left: 60px;
    padding: 10px;
    border-radius: 8px;
    color: #ffffff;
    background-color: black;
    border: none;
}
.card button:hover {
    background-color: #f5f5dc;
    color: black;
    border: solid 1px black;
}
.promo {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
}
.media {
    background-color: black;
    border-radius: 8px;
    color: #ffffff;
    padding: 0 0 0 100px;
}
.media img {
    width: 200px;
}
.media .media-body h5 {
    font-family: 'Courgette', cursive;
    color: #bdb76b;
    font-size: 25px;
}
.media .media-body .media-p {
    padding-bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #dcdcdc;
    font-size: 18px;
}
.footer {
    background-color: #bdb76b;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Poppins', sans-serif;
}
.footer .contacto {
    text-align: center;
    padding-top: 10px;
}
.email {
    text-align: center;
    padding-top: 15px;
}
.footer .redes {
    padding-top: 15px;
}

@media(max-width: 415px) {
    .navbar {
        font-size: 16px;
    }
    .main h1 {
        font-size: 35px;
        margin-left: 0;
        margin-top: 100px;
    }
    .viñedos-seccion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px 0 10px 0px;
        column-gap: 10px;
        row-gap: 10px;
        margin-bottom: 20px;
    }
    .viñedos-content h3 {
        font-size: 20px;
        color: black;
    }
    .viñedos-content p {
        font-size: 16px;
        font-weight: 200;
    }
    .maridajes-container {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .maridajes-container .row .cartel .letrero h2 {
        font-size: 35px;
        padding: 0;
    }
    .promo {
        display: flex;
        flex-direction: column-reverse;
    }
    .promo .card {
        margin: auto;
    } 
    .promo .media {
        display: block;
        margin: auto;
        padding: 0;
        text-align: center;
        font-size: 16px;
    }
    .promo .media img {
        vertical-align: auto;
    }
    .promo .media .media-body p {
        padding: 5px;
        font-size: 16px;
    }
    .media .media-body h5 {
        font-size: 20px;
    }
    .footer {
        display: block;
        text-align: center;
    }
}


