body {
    background-color: black;
}
.navbar {
    background-color: black;
    padding: 20px 10px 20px 30px;
    position: absolute;
}
.navbar .nav-item .nav-link {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.navbar .nav-item .dropdown-menu {
    background-color: black;
}
.navbar .nav-item .dropdown-menu .dropdown-item {
    background-color: black;
}
.navbar .navbar-brand {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.navbar .navbar-brand a:hover {
    color: #bdb76b;
}
.navbar .navbar-nav .nav-item a:hover {
    color: #bdb76b;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item img {
    width: 30px;
}
.navbar-light .navbar-toggler {
    border-color: #bdb76b;
    color: white;
}
.navbar .navbar-collapse .form-inline button {
    color: #bdb76b;
}

.main {
    background-image: url(https://cdn.pixabay.com/photo/2017/03/27/21/04/wine-2180278_960_720.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}
.main .cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main h1 {
    color: #bdb76b;
    font-size: 60px;
    font-family: 'Courgette', cursive;
    margin-left: 40%;
    margin-top: 15%;
}

.viñedos-seccion {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 40px;
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.viñedos-seccion .viñedos-card {
    background-color: #dcdcdc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 500px;
}
.viñedos-seccion .viñedos-card .viñedos-image img {
    width: 400px;
    height: 250px;
}
.viñedos-content h3 {
    font-family: 'Courgette', cursive;
    font-size: 25px;
    text-align: center;
}
.viñedos-content p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 16px;
    padding-left: 8px;
}
.maridajes-container {
    margin: 0 10% 0 10%;
}

.maridajes-container .cartel .letrero h2 {
    font-family: 'Courgette', cursive;
    color: #bdb76b;
    font-size: 60px;
    text-align: center;
    padding: 180px 0 0 70px;
}
.maridajes-container .images-maridajes .carousel .carousel-item img {
    width: 100%;
}
.card {
    background-color: #bdb76b;
    border-radius: 8px;
    margin-right: 10px;
    padding: 10px;
}
.card video {
    width: 100%;
}
.card-body h4 {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    text-align: left;
}
.card-body p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
.list-group .list-group-item {
    font-family: 'Poppins', sans-serif;
    border: none;
    border: none;
    background-color: #dcdcdc;
}
.card button {
    margin-left: 60px;
    padding: 10px;
    border-radius: 8px;
    color: #ffffff;
    background-color: black;
    border: none;
}

