/*body {
    background-color: black;
}*/
.navbar {
    list-style: none;
}
.navbar .nav-item .nav-link {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.main {
    display: flex;
    align-items: center;
}
.description {
    color: #ffffff;
    margin-right: 10%;
    margin-left: 10%;
}

.main .description h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    text-shadow: 5px 2px 4px rgb(199, 145, 65);
    padding-bottom: 20px;
}
.main .description p {
    font-family: "Questrial" , sans-serif;
    font-size: 18px;
}
.main .image img {
    width: 300px;
}